extends ../layout

block content
  .container
    h1.mb-4 #{title}

    .d-flex.justify-content-end.mb-3
      //- a.btn.btn-secondary(href=`/cities/country/${country}?download=true`) Download Report

    .table-responsive
      table.table.table-striped
        thead
          tr
            th Name
            th Country Code
            th District
            th Population
        tbody
          each city in cities
            tr
              td #{city.Name}
              td #{city.CountryCode}
              td #{city.District}
              td #{city.Population}