extends ../layout

block content
  .container
    h1.mb-4 #{title}

    // Download Report Button
    .d-flex.justify-content-end.mb-3
      a.btn.btn-secondary(href=`/cities/top/${n}?scope=${scope}&download=true`) Download Report

    // Table to display top N cities data
    if cities && cities.length
      .table-responsive
        table.table.table-striped
          thead
            tr
              
              th Name
              th Country Code
              th District
              th Population
          tbody
            each city in cities
              tr
                
                td #{city.Name}
                td #{city.CountryCode}
                td #{city.District}
                td #{city.Population}
    else
      .alert.alert-warning.mt-4 No city data available to display.